/*
colores
verde: #3a690c;
azul: #3291da;

*/




/*BUSQUEDA */

.busqueda-main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100vw;
}

.busqueda-filtros{
    width: 20vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 10px;
}

.filtros-title{
    font-size: 30px;
    margin-top: 60px;
    letter-spacing: 2px;
}

.filtros-subtitles{
    font-size: 25px;
    color: #3a690c;
    
}

.filtros-subtitles li{
    margin-top: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
}


.busqueda-productos{
    width: 80vw;
}



.busqueda-title-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    margin-top: 30px;
    margin-bottom: 0;
}

.busqueda-title-container h2{
    color: #594f4f;
    font-size: 38px;
    margin-bottom: 20px;
}

.busqueda-title-container p{
    margin-bottom: 15px;
    margin-right: 20px;
    font-size: 30px;
    color: black;
}

br{
    margin: 0;
}


.row1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    flex-wrap: wrap;
}

.articulo{
    width: 30%;
    cursor: pointer;
}

.articulo h5{
    color: #594f4f;
    font-size: 26px;
}

.articulo img{
    width: 100%; 
    height: auto;
}

.search{
    color: #3291da;
    font-size: 28px;
}

.articulo p strong{
    color: #3a690c; 
}

.price{
    font-size: 29px;
    letter-spacing: 2px;
    color: black;
    font-weight: bold;
}

/* PAGINA */
.move-page{
    width: 99vw;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    
}

.hero-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 50px;
}

.hero-ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
}

.hero-ul li{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
     cursor: pointer;
}

.list-element1{
    color: #b22222;
    text-decoration: underline;
}


/* FOOTER */
.final-footer{
    background-color: black; 
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.final-text{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 937px){
    .articulo{
        width: 50%;
    }
    .articulo h5,
    .articulo p{
        text-align: center;
    }
    .filtros-subtitles li{
        font-size: .6em;
    }
    .busqueda-title-container h2{
        padding-left: 10px;
    }
    .busqueda-title-container p{
        font-size: 1.5em;
    }
    .filtros-title{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 690px){
    .busqueda-filtros{
        display: none;
    }
    .busqueda-productos{
        width: 100vw;
    }
    .hero-menu{
        margin: 0 auto;
        padding-right: 0;
    }
}

@media screen and (max-width: 480px){
    .articulo{
        width: 100%;
    }
    .articulo h5{
        margin-top: 0;
    }
    .articulo h5,
    .articulo p{
        font-size: 2em;
    }
    .busqueda-title-container p{
        font-size: 1em;
        margin-right: 0;
    }
    .articulo{
        height: 60%;
    }
    .articulo img{
        
        height: 40%;
    }
}

@media screen and (max-width: 320px){
    .articulo h5,
    .articulo p{
        font-size: 1.5em;
    }
    .hero-menu li{
        font-size: 1.5em;
    }
}













