/*
colores
verde: #3a690c
azul: #3291da;

*/

/*+++++++++++++++Sacado del font de icomoon */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?y0x07p');
  src:  url('../fonts/icomoon.eot?y0x07p#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?y0x07p') format('truetype'),
    url('../fonts/icomoon.woff?y0x07p') format('woff'),
    url('../fonts/icomoon.svg?y0x07p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}

/*++++++++++++++++++++++++++++++++*/


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100vw;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
    display: inline;
}

.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%; /* 20px */
    background-color: rgba(0, 0, 0, .7);
    display: none; /* para que se pueda cambiar su ancho y alto*/
    /* Se puede usar flex, pero queremos aprender cosas nuevas */
    line-height: 40px; /* Lo pone en el centro verticalmente */
    text-align: center; /* Lo pone en el centro horizontalmente */

    color: #3a690c;
}

.menuCategorias{
    display: none;
}

/* HEADER */

.header {
    /*height: 400px;*/
    width: 100vw;
}

.header-1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: inherit;
}

.header-1 figure{
    margin-left: 10px;
}

.header-1 h1{
    display: inline-block;
    margin-right: 150px;
    font-size: 50px;
    color: #3291da;
}

.header h1 strong{
    color: #3a690c;
}

.header-1 a input {
    height: 40px;
    width: 300px;
}

.header-1 i{
    font-size: 32px; 
}

.fas.fa-map-marker-alt{
    color: red;
    margin-left:90px;
}

.fa.fa-shopping-cart,
.fa.fa-user
{
    margin-right: 27px;
    color: #3a690c;
    cursor: pointer;
}



.fas.fa-search{
    margin-left: 25px;
    color: #3a690c;
}

.header-1-input{
    margin-right: 20px;
}

.fimasportHeader{
    position: relative;
}

.logo{
    position: absolute;
    top: 17px;
    left: 0;
    
}
.logo img{
    max-width: 100px;
    width: 100%;
}

.fimasportHeader a{
    margin-left: 130px;
}

.header-2{
    font-size: 25px;
}

.menu{
    margin-top: 20px;
    margin-bottom: 35px;
}

.header-2 ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #3a690c;
}

.header-2 ul li{
    display: inline-block;
}

.link{
    text-decoration: none;
    color: inherit;
}

.link1{
    margin-left: 10px;
}

.link-blog{
    margin-right: 20px;
    margin-left: 350px;
    color: #b22222;
    font-weight: bold;
}

.header-3{
    background: black;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
    margin: 0;
}

.ad-title{
    display: inline;
    margin: 0 10px;
}

.ad-link{
    display: inline;
}

.container{
    /*border: 1px solid red;*/
    width: 1200px;
    margin: 0 auto;
    display: inherit;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    height: inherit;
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
}

/* hombres y mujeres */

.hym{
    margin-top: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}

.h{
    height: 250px;
    width: 520px;
    background-image: url('../images/main/hombres.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.h-detail{
    width: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    font-size: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.h-detail h3{
    font-size: 30px;
}

.h-detail button{
    background-color: orange;
    color: white;
    padding: 12px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.m{
    height: 250px;
    width: 520px;
    background-image: url('../images/main/mujeres.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.m .h-detail{
    color: grey;
}

/* CARTAS */
.cartas{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px;
    padding-bottom: 5px;
    margin: 50px auto;
    margin-bottom: 0;
}

.cartas-text{
    color: #3291da;
    text-align: center;
    font-size: 25px;
    margin-bottom: 0;
    height: 250px;
}

.carta{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 250px;
    height: 280px;
}

/* Lo mas nuevo y lo mas vendido */

.N-V{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 70px;
}

.n-v-title{
    color: #3a690c;
    font-size: 30px;
}

.n-v-precio{
    
    color: #5F5F5F;
}

.n-v-container,
.n-v-container figure
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 30px;
}

.n-v-product-title{
    margin: 0;
}

/* REBAJAS */
.rebajas{
    margin-bottom: 90px;
}

.box{
    background-color: red; 
    border: 1px solid black; 
    height: 260px; 
    width: 800px;
    margin: 0 auto;
    background-image: url('../images/main/rebajas.jpg');
    background-size: cover;
}

.red-box{
    background: rgba(255, 0, 0, 0.5);
    height: 260px; 
    width: 800px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    
}

.inner-box{
    position: absolute;
    background: rgba(255,255,255,0.1);
    border: 2px solid white; 
    height: 220px; 
    width: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    opacity: 1;
    font-size: 22px;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-left: 15px;
}

.rebajas-btn{
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.rebajas-title{
    margin-bottom: 60px;
    margin-top: 2px;
    font-size: 35px;
}

/* Marcas */
.marcas-title{
    text-align: center;
    font-size: 33px;
    color: #3a690c;
}

.marcas-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
}

/* Newsletter */
.newsletter{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

.news-title{
    font-size: 25px;
    color: #3291da;
    margin-right: 50px;
}

.newsletter input{
    height: 40px;
    width: 300px;
}

.newsletter img{
    margin-right: 35px;
}

/* Footer */

.footer{
    background-color: lightgrey;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 10px;
}

.footer-col1{
    margin-right: 80px;
    margin-top: 15px;
}

.footer-title{
    display: inline;
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 20px;
    
}

.soporte-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 17px;
}

.spt-cont{
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.spt-cont2{
    text-align: right;
}

.contacto-title{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.social-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.social-container i{
    margin-left: 20px;
    margin-right: 22px;
}

.contacto-tel{
    font-size: 18px;
    margin-right: 15px;
    font-weight: bold;
}

.contacto2{
    margin-top: 50px;
    margin-bottom: 30px;
}

.metodos-title{
    text-align: center;
    font-size: 20px;
}

.metodos-container{
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.final-footer{
    background-color: black; 
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.final-text{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}



@media screen and (max-width: 1201px){
    .fas.fa-map-marker-alt{
        margin-left:0;
        margin-right: 10px;
    }
    #fimasport{
        margin-right: 20px;
    }
    .fas.fa-search{
        margin-left: 0;
    }
    .container{
        width: inherit;
        max-width: 1200px;
        margin-left: 0;
        margin-right: 0;
    }
    
}

@media screen and (max-width: 937px){
    .burger-button{
        display: block;
    }
    .link.link-blog{
        margin-left: 0;
    }
    .header-1{
        display: block;
    }
    .header-1-input{
        display: none;
    }
    .fimasportHeader{
        text-align: center;
    }
    .fimasportHeader2{
        text-align: center;
        margin-bottom: 15px;
    }
    .fimasportHeader2 a,
    .fas.fa-search
    {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .fa.fa-user{
        margin-right: 0;
    }
    .logo{
        position: relative;
        top: 8px;
    }
    .fimasportHeader a{
        margin-left: 0;
    }
    .fimasportHeader a h1{
        margin-top: 20px;
    }
    /*.menu{
        display: none;
    }*/
    .link.link-blog{
        display: inline !important;
    }
    .header-2{
        text-align: center;
        
    }
    .header-2 .menuCategorias{
        display: inline-block ;
    }
    
    
    .menuCategoriasTitle{
        text-transform: unset;
        color: #3291da;
    }
    .menuCategoriasTitle:active{
        text-decoration: underline;
        
    }
    .menu{
        position: fixed;
        background: rgba(100, 231, 139, 0.9);
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        bottom: 0; /*Estirar hacia abajo */
        display: flex;
        align-items: center;
        justify-content: center;
        /*display: block;*/
        margin: 0;
        transition: .3s;
     }
     .menu ul{
         display: block;
     }
     .menu.is-active{
         left: 0;
     }
     .header-2 ul li {
        display: block;
        height: 2em;
        color: white;
        margin-top: .9em;
    }
    .link.link-blog{
        margin-right: 0;
    }
    .burger-button{
        width: 40px;
        height: 40px;
        border-radius: 50%; /* 20px */
        background-color: rgba(0, 0, 0, .7);
        display: block; /* para que se pueda cambiar su ancho y alto*/
        /* Se puede usar flex, pero queremos aprender cosas nuevas */
        line-height: 40px; /* Lo pone en el centro verticalmente */
        text-align: center; /* Lo pone en el centro horizontalmente */
        position: fixed; /*actua como el absolute*/
        z-index: 4;
        left: 5px;
        top: 5px;
        color: white;
        transition: .3s;
    }
}

@media screen and (max-width: 480px){
    .header-3{
        display: block;
        height: auto;
    }
    .ad-title{
        text-align: center;
        display: block;
    }
    .ad-link{
        display: block;
        text-align: center;
        margin: 0;
    }
    .fimasportHeader{
        display: flex;
        justify-content: center;
    }
    .logo{
        width: auto;
        top: 18px;
    }
    .principalimg{
        width: 100%;
        max-width: 100px;
        height: 50%;
    }
    #fimasport{
        font-size: 2.9em;
    }
    
}

@media screen and (max-width: 320px){
     #fimasport{
        font-size: 2.8em;
    }
}










