/*
colores
verde: #3a690c
azul: #3291da;

*/

.mas_ven_nue_title{
    letter-spacing: 1.5px;
    font-size: 38px;
    text-align: center;
}

.mas_ven_nue_container{
    margin-top: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
    width: 100vw;
    flex-wrap: wrap;
}

.mas_ven_nue_prodcontainer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    width: 32%;
}

.mas_ven_nue-prodtitle{
    text-align: center;
    font-size: 24px;
}

.mas_ven_nue-price1,
.mas_ven_nue-price2{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1.7px;
    margin-top: 0;
}


.mas_ven_nue-price2{
    color: #3a690c;
}

.mas_ven_nue-price1{
    color: #3291da;
}

.mas_ven_nue-price1 strong{
    color: #3a690c;
}

.mas_ven_nue-price2 strong{
     color: #3291da;
}


.img-prod{
    border: 1px solid blue;
}

@media screen and (max-width: 1201px){
    .mas_ven_nue_prodcontainer{
        width: 47%;
    }
}

@media screen and (max-width: 937px){
    .mas_ven_nue-prodtitle{
        font-size: 1.2em;
    }
    .mas_ven_nue-price2{
        font-size: 1.6em;
    }
    .mas_ven_nue_prodcontainer{
        
        padding-left: 1.5%;
        padding-right: 1.5%;
    }
}

@media screen and (max-width: 625px){
    .mas_ven_nue_prodcontainer{
        width: 90%;
        padding-left: 5%;
    }
    .mas_ven_nue-prodtitle{
        font-size: 1.8em;
    }
    .mas_ven_nue-price2{
        font-size: 2.1em;
    }
}

@media screen and (max-width: 480px){
    .mas_ven_nue-prodtitle{
        font-size: 1.5em;
    }
    .mas_ven_nue-price2{
        font-size: 1.6em;
    }
}



