
.nuevoyvendido-container{
    margin-top: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
    width: 90vw;
    flex-wrap: wrap;
    padding-left: 5vw;
    padding-right: 5vw;
}

.mujhom-prod-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    width: 32%;
}

.mujhom-prod-price1,
.mujhom-prod-price2{
    
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1.7px;
    margin-top: 0;
}

.mujhom-prod-price2{
    color: #3a690c;
}

.mujhom-prod-price1{
    color: #3291da;
}

.mujhom-prod-price1 strong{
    color: #3a690c;
}

.mujhom-prod-price2 strong{
     color: #3291da;
}


.img-prod{
    border: 1px solid blue;
}

.mujhom-prod-title{
    text-align: center;
    font-size: 24px;
}

@media screen and (max-width: 937px){
    .mujhom-prod-container{
        width: 25%;
    }
    .mujhom-prod-title{
        text-align: center;
        font-size: 1.3em;
    }
    .mujhom-prod-price1,
    .mujhom-prod-price2{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 745px){
    .mujhom-prod-container{
        width: 100%;
    }
    .mujhom-prod-title{
        text-align: center;
        font-size: 2em;
    }
    .mujhom-prod-price1,
    .mujhom-prod-price2{
        font-size: 2.2em;
    }

}

@media screen and (max-width: 480px){
    .mujhom-prod-title{
        text-align: center;
        font-size: 1.6em;
    }
    .mujhom-prod-price1,
    .mujhom-prod-price2{
        font-size: 1.8em;
    }
}

@media screen and (max-width: 320px){
    .mujhom-prod-title{
        text-align: center;
        font-size: 1.3em;
    }
    .mujhom-prod-price1,
    .mujhom-prod-price2{
        font-size: 1.5em;
    }
}








