.sesion-main-title{
	text-align: center;
	font-size: 38px;
}

.datos-cliente{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 60px;
}

.iniciarSesion-container{
	margin-right: 100px;
	
	margin-left: 50px;
}

.registro-container{
	
	margin-left: 90px;
}


.iniciarSesion-container h1{
	font-size: 30px;
}

.iniciar-sesion-input,
.registro-input,
.registro-input-date{
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	width: 200px;
}

.label-iniciar-sesion{
	color: #3291da;
	font-size: 25px;
	font-weight: bold;
}

.iniciar-sesion-links{
	color: #3291da;
	font-size: 20px;
	font-weight: bold;
	margin-top: 25px;
}

.iniciar-sesion-links:hover{
	text-decoration: underline;
	cursor: pointer;
}



.boton-acceder,
.boton-acceder2{
	display: block;
	background-color: orange;
    color: white;
    padding: 8px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 20px;
    border-radius: 10px;
	cursor: pointer;
	margin-top: 15px;
}

.boton-acceder2{
	margin-top: 20px;
}

.registro-container p{
	color: #3a690c;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 9px;
}

.registro-input{
	margin-bottom: 7px;
	width: 300px;
}
.registro-input-date{
	width: 120px;;
}

@media screen and (max-width: 956px){
	.iniciar-sesion-input{
		display: block;
		margin-top: 10px;
	}
}

@media screen and (max-width: 744px){
	.registro-container{
		display: none;
	}
	.iniciarSesion-container{
		text-align: center;
		margin: 0 auto;
	}
	.iniciar-sesion-input{
		display: initial;
	}
	.boton-acceder{
		margin: 0 auto;
	}
	.iniciarSesion-container h1{
		margin-bottom: 1.6em;
	}
	.iniciarSesion-container p{
		margin-bottom: 2em;
	}
	.contra-input{
		margin-right: 70px;
	}
	.boton-acceder{
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

@media screen and (max-width: 480px){
	.label-iniciar-sesion{
		display: block;
	}
	.contra-input{
		margin-right: 0;
	}
}






